.sidebarPanel {
  width: 300px;
  position: fixed;
  height: 100%;
  background-color: rgb(26, 26, 26);
  display: block;
}

.debug {
  color: red;
  position: fixed;
  bottom: 0;
}

.imageMessage {
  color: whitesmoke;
  font-family: Verdana, sans-serif;
  width: 100%;
  text-align: center;
  margin-top: 100px;
  margin-left: 300px;
  display: inline-flex;
}

.imagePanel {
  min-width: 600px;
  width: 100%;
  height: 100%;
  margin-left: 300px;
  background-color: #333;
  display: block;
  position: fixed;
  top: 0;
}
